# Dependências locais (serão instaladas dentro do container)
node_modules

# Build gerado localmente (o Docker vai gerar o próprio build)
dist

# Controle de versão
.git
.gitignore

# Pipeline / CI
.github

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente local
.env
.env.local
.env.*.local

# Sistema operacional / lixo
.DS_Store
Thumbs.db

# Arquivos desnecessários para build
README.md

# Docker (evita copiar o próprio Dockerfile)
Dockerfile
.dockerignore